.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container input {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
}

.container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 100px;
  margin: 0;
  list-style: none;
  padding: 50px 0;
  width: 100%;
}

.container ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
